html(lang="es") 
    head
        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 

        link(rel="stylesheet", href="/public/css/comun.css")

        title RC Setup
    body

        div#navbar 
            div#logo Aqui va el logo 
            div#butons Aqui van los enlaces

        block content