#header {
    background-color: rgba(0, 0, 0, 0.164);
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: -15px;
    padding: 15px 0 10px 0;
}

#logo {
    display: flex;
    justify-content: left;
    margin-left: 40px;
    margin-top: 12.5px;
    border-radius: 35px;
    height: 250px;
}

#banner {
    display: flex;
    justify-content: left;
    height: 300px;
    width: 1000px;
    border-radius: 15px;
}

#navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.linksNavbar {
    text-decoration: none;
    font-size: 1.2rem;
}

.linksNavbar:hover {
    letter-spacing: 2px;
}