#header {
    border-bottom: black 2px solid;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#logo {
    display: flex;
    justify-content: center;
}

#banner {
    display: flex;
    justify-content: center;
}

#navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.linksNavbar {
    text-decoration: none;
    font-size: 1.2rem;
}

.linksNavbar:hover {
    letter-spacing: 2px;
}