html 
    head 

        link(rel="stylesheet", href="/css/setup.css")
        link(rel="stylesheet", href="/css/navbar.css")
        link(rel="stylesheet", href="/css/find.css")

        block title 
            title RC Setups

    body
        div#header 
            div#logo 
                img(id="logo", src="/img/1716487599115.jpeg")
            div#banner 
                img(id="banner", src="/img/ARA2106-1920x600.jpg")

        div#navbar 
            a(href="/setup" class='linksNavbar') Index
            a(href="/setup/find" class='linksNavbar') Buscar setups 
            a(href="/setup/new" class='linksNavbar') Nuevo setup 
            a(href="/" class='linksNavbar') Logout 


        block content 