html 
    head 

        link(rel="stylesheet", href="/css/setup.css")
        link(rel="stylesheet", href="/css/navbar.css")

        block title 
            title RC Setups

    body
        div#header 
            div#logo 
                p Aqui va el logo
            div#banner 
                p Aqui va el banner

        block content 