html 
    head 

        link(rel="stylesheet", href="/setup.css")

        block title 
            title RC Setups

    body
        block content 
            h1(
                class="layout-title"
                id="titulo"
            ) Esto es el layout
        script(src="/js/index.js")