html 
    head 

        link(rel="stylesheet", href="/css/setup.css")
        link(rel="stylesheet", href="/css/navbar.css")
        link(rel="stylesheet", href="/css/find.css")

        block title 
            title RC Setups

    body
        div#header 
            div#logo 
                p Aqui va el logo
            div#banner 
                p Aqui va el banner

        div#navbar 
            a(href="/setup") Index
            a(href="/setup/find") Buscar setups 
            a(href="/setup/new") Nuevo setups 


        block content 