html 
    head 

        link(rel="stylesheet", href="/css/login.css")
        link(rel="stylesheet", href="/css/navbar.css")

        block title 
            title Login - RC Setups

    body
        div#header 
            div#logo 
                p Aqui va el logo
            div#banner 
                p Aqui va el banner


        div#cuerpoLogin 

            div#login 
                h3 Login 
                
                form(action="/login", method="post" id='formLogin')
                    label(for="user") Usuario: 
                    input(id="user", type="text", name="user")

                    <br><br>

                    label(for="password") Password: 
                    input(id="password", type="password", name="password")
                    
                    <br><br>

                    button(type="submit") Iniciar sesion


