html 
    head 

        link(rel="stylesheet", href="/css/login.css")
        link(rel="stylesheet", href="/css/navbar.css")

        block title 
            title Register - RC Setups

    body
        div#header 
            div#logo 
                img(id="logo", src="/img/1716487599115.jpeg")
            div#banner 
                img(id="banner", src="/img/ARA2106-1920x600.jpg")



        div#cuerpoLogin 

            div#login 
                h3 Register 
                
                form(action="/register", method="post" id='formLogin')
                    label(for="username") Usuario: 
                    input(id="username", type="text", name="username")

                    <br><br>

                    label(for="password") Password: 
                    input(id="password", type="password", name="password")
                    
                    <br><br>

                    label(for="passwordRepeat") Repeat password: 
                    input(id="passwordRepeat", type="password", name="passwordRepeat")
                    
                    <br><br>

                    button(type="submit") Crear usuario nuevo

                form(action="/login", method="get")
                    button(type="submit") Login